In [1]:
import pandas as pd   # data processing, CSV file (e.g. pd.read_csv)
import numpy as np    # linear algebra
import seaborn as sns # 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('housing.csv')

In [5]:
data.head()

,Unnamed: 0,city,district,front,size,property_age,bedrooms,bathrooms,livingrooms,kitchen,...,roof,pool,frontyard,basement,duplex,stairs,elevator,fireplace,price,details
0,521,الرياض,حي الجنادرية,شرق,246,0,5,5,2,1,...,0,0,0,0,0,1,0,0,40000,درج داخلي للايجار التوالصل 0538143083
1,1653,جدة,حي بريمان,جنوب,350,0,7,5,2,1,...,1,0,0,0,1,1,1,0,45000,فلة روف مكونه من٩غرف و٧حمامات وسطح مرة كبير ون...
2,131,الرياض,حي الرمال,جنوب,280,3,4,3,1,0,...,0,0,1,0,0,1,0,1,3300,درج داخلي للأيجار شهري3300\nالمواصفات \nالأرض...
3,2284,الدمام,حي ضاحية الملك فهد,شمال,250,5,5,5,3,1,...,1,0,1,0,0,1,0,0,36000,للايجار فيلا دبلكس دورين وملحق في ضاحيه الملك ...
4,65,الرياض,حي الروضة,جنوب,352,30,7,5,2,1,...,1,0,1,0,0,1,0,1,80000,الجزء الثالث والاخير للتصوير\n================...

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974 entries, 0 to 2973
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2974 non-null   int64
 1   city          2974 non-null   object
 2   district      2974 non-null   object
 3   front         2974 non-null   object
 4   size          2974 non-null   int64
 5   property_age  2974 non-null   int64
 6   bedrooms      2974 non-null   int64
 7   bathrooms     2974 non-null   int64
 8   livingrooms   2974 non-null   int64
 9   kitchen       2974 non-null   int64
 10  garage        2974 non-null   int64
 11  driver_room   2974 non-null   int64
 12  maid_room     2974 non-null   int64
 13  furnished     2974 non-null   int64
 14  ac            2974 non-null   int64
 15  roof          2974 non-null   int64
 16  pool          2974 non-null   int64
 17  frontyard     2974 non-null   int64
 18  basement      2974 non-null   int64
 19  duplex        2974 non-null   int64
 20  stairs        2974 non-null   int64
 21  elevator      2974 non-null   int64
 22  fireplace     2974 non-null   int64
 23  price         2974 non-null   int64
 24  details       2912 non-null   object
dtypes: int64(21), object(4)
memory usage: 581.0+ KB

In [21]:
def fixRent(details):
    details =  str(details)
    rent = "Unkown"
    if( details.find('شهري') != -1 or details.find('بالشهر') != -1):
        rent = 'Monthly'
    elif( details.find('يومي') != -1 or details.find('باليوم') != -1 ):
        rent = 'Daily'
    else:
        rent = 'Unkown'
        
    return rent

data.loc[:,'rent frequnetly'] = data.loc[:,'details'].apply(fixRent)

In [20]:
data.loc[:,['price',"details",'rent frequnetly']]

      price                                            details rent frequnetly
0     40000              درج داخلي للايجار التوالصل 0538143083          Unkown
1     45000  فلة روف مكونه من٩غرف و٧حمامات وسطح مرة كبير ون...          Unkown
2      3300  درج داخلي للأيجار  شهري3300\nالمواصفات \nالأرض...         Monthly
3     36000  للايجار فيلا دبلكس دورين وملحق في ضاحيه الملك ...          Unkown
4     80000  الجزء الثالث والاخير للتصوير\n================...          Unkown
...     ...                                                ...             ...
2969  33000  دبلكس الاجار جديد ثلاثه ادوار الحي السابع كل ٦...          Unkown
2970  50000                         فيلا دورين درج داخلي مجددة          Unkown
2971  37000  فلا للايجار فى الحي الخامس التاسع \nتتكون ثلاث...          Unkown
2972  35000  فيلا للإيجار على زاوية\nمطبخ راكب \n٤ غرف نوم ...         Monthly
2973  80000                                نظيفة للغاية ومجددة          Unkown

[2974 rows x 3 columns]

In [22]:
data.groupby(['rent frequnetly']).size()

rent frequnetly
Daily         3
Monthly      54
Unkown     2917
dtype: int64

In [23]:
data[data['rent frequnetly'] == 'Daily']

,Unnamed: 0,city,district,front,size,property_age,bedrooms,bathrooms,livingrooms,kitchen,...,pool,frontyard,basement,duplex,stairs,elevator,fireplace,price,details,rent frequnetly
363,1100,جدة,حي الزمرد,شمال,350,0,4,4,1,1,...,1,1,0,0,1,0,0,3000,فيلا دورين مكونة من 4 غرف نوم و 4 دورات مياه و...,Daily
1279,1225,جدة,حي الشاطئ,غرب,350,2,3,4,2,1,...,1,1,0,1,1,0,0,2500,فيلا مؤثثه نظيفه جدا للايجار اليومي \nبالسعر ا...,Daily
2411,1192,جدة,حي الزمرد,جنوب,550,7,4,4,3,1,...,1,1,0,1,0,0,1,2000,فيلا للايجار اليومي بخصوصية تامه,Daily